body {
    
    color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template: 1fr 11fr / 1fr 3fr;
    grid-template-areas: 
    "header header"
    "nav main";
}

#header {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    background-color: #3261EB;
    grid-area: header;
}

#nav {
    background-color: #274BB8;
    grid-area: nav;
}

#nav-top {
    display: flex;
    flex-direction: column;
}

.nav {
    font-size: 2rem;
    color: white;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    margin: 10px;
    background-color: #274BB8;
    text-align: left;
    transition: .6s;
}

.nav:hover, .active {
    background-color: #7997EE;
}

hr {
    color: white;
    background-color: white;
    height: 1px;
    width: 95%;
}

#new-project, #new-task {
    color: white;
    font-size: 4rem;
    height: 50px;
    width: 50px;
    border: 0px;
    border-radius: 100px;
    margin: 10px;
    background-color: #274BB8;
    transition: .6s;
}

#new-project:hover, #new-task:hover {
    transform: scale(1.3);
}

#new-task {
    background-color: #7997EE;
    align-self: flex-start;
}

#main {
    display: grid;
    grid-template: repeat(auto-fill, 50px) / 1fr;
    grid-auto-rows: 50px;
    gap: 10px;
    padding: 10px;
    align-items: center;
    background-color: #7997EE;
    grid-area: main;
    overflow: auto;
}

.task {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #274BB8;
    border-radius: 10px;
}

.task input {
    font-size: 1.3rem;
    color: inherit;
    background-color: inherit;
    height: 70%;
    border: none;
    border-radius: 5px;
    padding: 0;
    margin: 5px;
}

.task input:hover  {
    /* outline: none; */
    background-color: #7997EE;
}

.task input:focus-visible {
    outline: none;
    background-color: #7997EE;
    border: 3px solid black;
}