@font-face {
    font-family: oswald;
    src: url(./assets/fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: baloo;
    src: url('./assets/fonts/Baloo2-VariableFont_wght.ttf');
}

* {
    font-family: oswald;
}
body {
    color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template: 1fr 11fr / 1fr 3fr;
    grid-template-areas: 
    "header header"
    "nav main";
}

#header {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    background-color: #3261EB;
    grid-area: header;
}

#title {
    font-family: baloo;
}

#nav {
    background-color: #274BB8;
    grid-area: nav;
}

#nav-top {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.nav {
    font-size: 2rem;
    color: white;
    height: 100%;
    border-radius: 10px;
    border: 0px;
    margin: 5px 2px;
    padding: 10px;
    background-color: #274BB8;
    text-align: left;
    transition: .6s;
}

#delete-icon {
    height: 30px;
    width: 30px;
}

.nav:hover, .active {
    background-color: #7997EE;
}

.project-wrapper {
    display: flex;
    align-items: center;
    padding: 5px;
}

.project {
    flex: 7; 
}

#nav hr {
    color: white;
    background-color: white;
    height: 1px;
    width: 95%;
}

#new-project, #new-task {
    color: white;
    font-size: 4rem;
    height: 50px;
    width: 50px;
    border: 0px;
    border-radius: 10px;
    margin: 10px;
    background-color: #274BB8;
    transition: .6s;
}

#new-project:hover, #new-task:hover {
    transform: scale(1.3);
}

#new-task {
    background-color: #7997EE;
    align-self: flex-start;
}

/* Main */
#main {
    display: grid;
    grid-template: repeat(auto-fill, 50px) / 1fr;
    grid-auto-rows: 50px;
    gap: 10px;
    padding: 10px;
    align-items: center;
    background-color: #7997EE;
    grid-area: main;
    overflow: auto;
}

.task {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #274BB8;
    border-radius: 10px;
}

.task input, .task label, .dropdown-button {
    color: white;
    font-size: 1.5rem;
    background-color: inherit;
    height: 70%;
    border: none;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 5px 10px;
    transition: .4s;
}

.task input:hover, .task label:hover, #menu:hover  {
    background-color: #7997EE;
}

.task input:focus {
    background-color: #7997EE;
    border: 3px solid black;
}

.task input::placeholder{
    color: white;
    opacity: .6;
}

.description {
    flex: 1 1 0;
}

.due {
    width: 150px;
}

#star {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    transition: .4s;
    padding: 1px;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(7488%) hue-rotate(1deg) brightness(103%) contrast(99%);
}

/* Dropdown  */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 5px;
    padding-top: 10px;
}

#menu {
    width: 38px;
    height: 38px;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, .8);
    z-index: 5;
    color: white;
    font-size: 1.3rem;
    background-color: #3261EB;
    min-height: 40px;
    min-width: 200px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0px;
    transition: .4s;
}

.show {
    display: block;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 5px;
    transition: .4s;
    border-radius: 5px;
}

.menu-item:hover {
    background-color: #7997EE;
}